* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #0D1B2A;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/*-----------Side Bar------------*/
.side-bar {
    width: 220px;
    display: flex;
    flex-direction: column;
    padding: 26px 0 16px;
    overflow: hidden;
    flex-shrink: 0;
}

.firm-name {
    padding: 8px 24px;
    width: 100vw;
}
 
.name {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.5;
}


.side-bar-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
}
 
.main-menus {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #99C6FF;
    text-transform: uppercase;
    padding: 10px 24px;
}
 
.nav-lists {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 30px;
}
 
.lists {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 8px 12px;
    border-radius: 7px;
    cursor: pointer;
    color: #99C6FF;
}
.lists i {
    color: #99C6FF;
}
.nav-list-link {
    text-decoration: none;
    color: #99C6FF;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: #C9A84C;
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
    background: rgba(201, 168, 76, 0.15); 
    border-radius: 7px;

}
.nav-text{
    flex: 1; 
    display: inline-block;
}
.nav-list i {
    color: #C9A84C;
    font-size: 16px;
    flex-shrink: 0; 

}

.rbadge {
    background: #e74c3c;
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 10px;
}
.admins, 
.accounts{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #99C6FF;
    padding: 10px 24px;
    margin-top: 16px;

}

.admin-links, 
.acct-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0 10px;
    margin-top: 8px;


}
.admin-link, 
.acct-link{
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 8px 12px;
    color: #99C6FF;
    cursor: pointer;
    list-style: none;
}

.admin-link-txt {
    flex: 1;
    display: inline-block;margin: 0;
    padding: 0;
    font-size: 12.5px;
    color: #99C6FF;
    white-space: nowrap;
}

.admin-btn {
    background: transparent;
    color: #4db8d4;
    font-size: 9px;
    padding: 2px 6px;
    border-radius: 3px;
    font-weight: 600;
    text-decoration: none;
    flex-shrink: 0;
    border: 1px solid;
}

/*-----------Side Bar------------*/
.main-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 22px 22px 14px;
    gap: 14px;
    overflow-y: auto; 
    height: 100vh;
    scrollbar-width: none; 
}

.main-header::-webkit-scrollbar {
    display: none; 
}

.top-bars {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
}

.top-bars h1{
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}

.welcome {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 3px;
}

.dash-btn {
    background: #f5a623;
    color: #1a1000;
    border: none;
    padding: 9px 18px;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: 'Inter', sans-serif;
}

/*-------------case cards--------------------*/
.case-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    flex-shrink: 0;
}

.cards {
    background: #0F2236;
    border: 1px solid #1e3a58;
    border-radius: 10px;
    padding: 16px 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.case-stats {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .7px;
    color: #99C6FF;
    text-transform: uppercase;
}

.card-icon {
    font-size: 22px;
}

.card-icon.ia { 
    color: #C9A84C; 
}
.card-icon.ib { 
    color: #FFA629; 
}
.card-icon.ic { 
    color: #FFA629; 
}
.card-icon.id { 
    color: #e88a30; 
}


.case-num {
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    line-height: 1.5;
    margin-top: 3px;
}

.sub-no {
    font-size: 14px;
    font-weight: 400;
    color: #99C6FF;
    line-height: 1.4;
}

/*------------------recent cases row--------------------------- */

.recents-cases-wrapper {
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: 12px;
    flex: 1;
    min-height: 500px;
    margin-bottom: 20px;

}

.recent-case {
    background: #0F2236;
    border: 1px solid #1e3a58;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.case-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 50px 16px 30px 16px;
    min-height: 60px;
    gap: 16px;

}

.case-head h3 {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    flex-shrink: 0;
    white-space: nowrap;
    line-height: 1;
    align-self: center;

}

.case-link {
    font-size: 15px;
    color: #C9A84C;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    flex-shrink: 0;
    align-self: center;
    line-height: 1;
}
.case-link i{
    width: 20px;
    color: #C9A84C;
}

.case-link:hover {
    color: #4db8d4;
}

.table-wrap {
    overflow-y: auto;
    flex: 1;
    scrollbar-width: none;
}

.table-wrap::-webkit-scrollbar {
    display: none;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

thead {
    background: #152540;
    padding: 12px 14px;
}

th {
    padding: 20px 16px;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .7px;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #1e3a58;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

tbody tr {
    border-bottom: 1px solid #1e3a58;
    cursor: pointer;
    transition: background .12s;
}

tbody tr:hover {
    background: #1c304e;
}

tbody tr:last-child {
    border-bottom: none;
}

td {
    padding: 16px 16px;
    color: #ccdff0;
    vertical-align: top;
}

.case-id {
    font-size: 14px;
    color: #C9A84C;
    font-weight: 400;
    letter-spacing: .4px;
    margin-bottom: 8px;
}

.case-title {
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 8px;
    white-space: normal;
    word-wrap: break-word;
    max-width: 150px;
    line-height: 1.6;
    
}

.case-type {
    font-size: 12.5px;
    font-weight: 400;
    color: #99C6FF;
    margin-top: 4px;
}

.case-status {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;;
}

.case-status.ba { 
    background: #284025;
    color: #34C759; 
}
.case-status.bb { 
    background: #990003;
    color: #FF383C; 
}
.case-status.bc { 
    background: #862F01;
    color: #FF8D28; 
}
.case-status.bd { 
    background: #253140;
    color: #0088FF; 
}
.case-status.be{
    background: #284025;
    color: #34C759;
}
.case-status::before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: currentColor;
    display: inline-block;
    margin-right: 5px;
}

.status-txt {
    color: #F8FAFC;
    font-size: 12px;
    font-weight: 400;
}

td.case-date {
    vertical-align: middle;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 80px; 
    line-height: 1.6;
    font-size: 15px;
    color: #FFFFFF;
}
td.case-date {
    vertical-align: middle;
    text-align: left;
}
tbody tr td:nth-child(2),
tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
    vertical-align: middle;
}


/*---------------------upcoming hearings----------------------*/
.hearing-side {
    background: #0F2236;
    border: 1px solid #1e3a58;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.hearing-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px 10px;
    flex-shrink: 0;
    gap: 16px;
}

.hearing-head h3 {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap; 

}

.hearing-link {
    font-size: 15px;
    color: #C9A84C;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    text-decoration: none
    
}
.hearing-link i {
    width: 20px;
    color: #C9A84C;
}

.hearing-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: auto;
    flex: 1;
    scrollbar-width: none;
    justify-content: space-between;
}

.hearing-title {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 6px;
}

.hearing-list::-webkit-scrollbar {
    display: none;
}

.hearings {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 16px;
    cursor: pointer;
    transition: background .12s;
    border-bottom: 1px solid #ffffff; 

}

.hearings:last-child {
    border-bottom: none;
}

.hearings:hover {
    background: #1c304e;
}

.hearing-db {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    background: #213038;
    border-radius: 6px;
    padding: 6px 8px;
    flex-shrink: 0;
}

.hearing-day {
    font-size: 16px;
    font-weight: 600;
    color: #C9A84C;    
    line-height: 1;
    margin-bottom: 6px;
}

.hearing-month {
    font-size: 9px;
    font-weight: 700;
    letter-spacing: .7px;
    color: #99C6FF;    
    text-transform: uppercase;
    margin-top: 2px;
}

.hearing-info {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hearing-name {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hearing-sub {
    font-size: 11px;
    color: #99C6FF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hdays {
    background: #2F3139;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 8px;
    border-radius: 6px;
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 35px;
    flex-shrink: 0;
}
.day1 {
    color: #FF7800;
}
.day2 {
    color: #C9A84C;
}
.day3 {
    color: #FF7800;
}
.day4 {
    color: #42ADE2;
}
.day5 {
    color: #FF7800;
}
.toggle-btn {
    background: transparent;
    border: none;
    color: #99C6FF;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
    display: none;
    width: fit-content;
    align-items: flex-end; 
}

/* --------iPad------------------------ */
@media (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
    }

    .side-bar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        background: #0D1B2A;
        width: 220px;
    }

    .side-bar.show-sidebar {
        display: flex;
    }

    .toggle-btn {
        display: block;
    }

    .firm-name {
        width: auto;
    }

    .main-header {
        padding: 16px;
        gap: 12px;
    }

    .case-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .recents-cases-wrapper {
        grid-template-columns: 1fr;
        height: auto;
    }

    .hearing-side {
        height: 400px;
    }
    .table-wrap{
        overflow-x: auto;
    }
    table {
        min-height: 600px;
        table-layout: auto;
    }
    td.case-date {
        white-space: normal;
        word-break: break-word;
        min-width: 60px;
        max-width: 70px;
        line-height: 1.6;
    }
    .case-head {
        padding: 30px 16px;
    }
    
}

/* --------Android------------------------ */
@media (max-width: 767px) {
    .wrapper {
        flex-direction: column;
        height: auto;
        overflow-y: auto;
    }

    .side-bar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        background: #0D1B2A;
        width: 220px;
    }

    .side-bar.show-sidebar {
        display: flex;
    }

    .toggle-btn {
        display: block;
    }

    .firm-name {
        width: auto;
    }

    .main-header {
        padding: 16px;
        gap: 12px;
        height: auto;
        overflow-y: visible;
    }

    .top-bars {
        flex-direction: column;
        gap: 10px;
    }

    .case-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards {
        aspect-ratio: auto;
        height: auto;
    }

    .recents-cases-wrapper {
        grid-template-columns: 1fr;
        height: auto;
        min-height: auto;
    }

    .hearing-side {
        height: auto;
    }
    .hearing-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }
    .hearing-head-h3 {
        white-space: nowrap;
        font-size: 14px;
        flex-shrink: 0;
    }
    .hearing-link {
        white-space: nowrap;
        font-size: 13px;
        flex-shrink: 0;
    }
    .case-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        padding: 30px 16px;
        min-height: 60px;
        gap: 16px;
    }
    .case-head h3 {
        white-space: nowrap;
        font-size: 14px;
        flex-shrink: 0;
    }
    
    .case-link {
        font-size: 12px;
    }

    .table-wrap {
        overflow-x: auto;
    }

    table {
        min-width: 550px;
        table-layout: auto;
    }
    th {
        padding: 20px 16px;
    }
    td {
        padding: 16px;
    }
    td.case-date {
        white-space: normal;
        word-break: break-word;
        min-width: 60px;
        max-width: 90px;
        line-height: 1.6;
    }
    .case-title {
        font-size: 12px;
        max-width: 90px;
    }
    .top-bars {
        flex-direction: row; 
        align-items: flex-start;
        justify-content: space-between;
        gap: 0;
    }
    .dash-btn {
        font-size: 11px;
        padding: 7px 12px;
        border-radius: 6px;
    }
}

/* --------iPhone------------------------ */
@media (max-width: 430px) {
    .side-bar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        background: #0D1B2A;
        width: 220px;
    }

    .side-bar.show-sidebar {
        display: flex;
    }

    .toggle-btn {
        display: block;
    }

    .case-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .case-stats {
        font-size: 10px;
    }

    .case-num {
        font-size: 24px;
    }

    .sub-no {
        font-size: 11px;
    }

    .name {
        font-size: 18px;
    }

    .top-bars h1 {
        font-size: 22px;
    }

    .dash-btn {
        font-size: 11px;
        padding: 7px 12px;
    }

    .recents-cases-wrapper {
        grid-template-columns: 1fr;
        height: auto;
    }

    .recent-case {
        height: auto;
    }

    .hearing-side {
        height: auto;
        margin-top: 12px;
    }

    th {
        font-size: 10px;
        padding: 8px 8px;
    }

    td {
        font-size: 11px;
        padding: 8px 8px;
    }
    .case-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        padding: 30px 8px;
        min-height: 60px;
        gap: 16px;
    }
    .top-bars {
        flex-direction: row; 
        align-items: flex-start;
        justify-content: space-between;
        gap: 0;
    }
    .dash-btn {
        font-size: 10px;
        padding: 6px 10px;
        border-radius: 6px;
    }
    
}