* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0d2236;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  min-height: 100vh;
}

/* LEFT */

.left {
  background: #071a2c;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 70px;
  margin-bottom: 20px;
  display: block;
}


.brand{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
}

.brand h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.subtitle {
  color: #c9d1d9;
}

.company {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 6px;
}

.features {
  margin-top: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 22px;
}

.feature {
  background: #9ea3a8;
  color: black;
  padding: 16px;
  border-radius: 14px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.feature i{
  background:white;
  width:32px;
  height:32px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:6px;
  font-size:18px;
}

.nextBtn {
  display: none;
}

.backBtn {
  display: none;
}

/* RIGHT */

.right {
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: #0d2236;
}
}
.welcome {
  font-size: 36px;
}

.signin-text {
  margin: 10px 0 25px 0;
  opacity: 0.7;
}

.roles {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.role {
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid #7893b2;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.role:hover {
  border-color: #00d36f;
}

.role.active {
  background: #00d36f;
  color: black;
  border: none;
}

label {
  margin-top: 12px;
  display: block;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin-top: 6px;
  background: #e1e1e1;
}

.password-box {
  position: relative;
}

.password-box i {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.signin-btn {
  margin-top: 25px;
  padding: 16px;
  border-radius: 12px;
  border: none;
  background: #c9a74b;
  font-size: 17px;
  cursor: pointer;
  width: 100%;
  
}

.links {
  margin-top: 20px;
  text-align: center;
}

.links a {
  color: #ffc857;
  text-decoration: none;
}

/* MOBILE */

@media (max-width: 900px) {
  .container {
    display: flex;
    width: 200%;
    transition: transform 0.4s ease;
  }

  .page {
    width: 100%;
    min-height: 100vh;
  }

  .nextBtn {
    margin-top: 40px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #c9a74b;
    cursor: pointer;
    display: block;
  }

  .backBtn {
    margin-bottom: 20px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    display: block;
  }

