* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #0d1b2a;
}

.cases {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.accessibility {
  display: flex;
  justify-content: space-between;
  gap: 1.4rem;
}

.accessibility > * {
  border: 0.5px solid #00a7e4;
  border-radius: 8px;
  padding: 0.6rem 2rem;
  color: white;
}

.search-accessibility {
  flex-grow: 4;
  flex-shrink: 1;
  display: flex;
  gap: 2.4rem;
}

.search-accessibility input {
  width: 100%;
  color: white;
  outline: none;
  border: none;
  background: transparent;
}

.search-accessibility input::placeholder {
  color: white;
}

.status-accessibility,
.all-type-accessibility {
  outline: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  gap: 2rem;
}

.cases-info {
  border: 1px solid #00a7e4;
  border-radius: 12px;
  padding-bottom: 10rem;
}

.cases-table {
  width: 100%;
  border-collapse: collapse;
}

.cases-table tr th,
.cases-table tr td {
  border-bottom: 0.5px solid #00a7e4;
}

/* 
tr:last-child td {
    border: none;
} */

.cases-table thead th {
  padding: 2rem;
  text-align: left;
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
}

.cases-table tbody tr td {
  padding: 3rem 3rem 3rem 2rem;
  color: white;
}

.cases-table tr > td:nth-child(1) {
  font-size: 1.4rem;
  color: #c9a84c;
}

.cases-table tr td div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cases-table tr td div h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

.cases-table tr td div p {
  color: #99c6ff;
  font-size: 1.4rem;
}

.cases-table tr .case-active {
  background-color: #284025;
  border: none;
  outline: none;
  min-width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  color: white;
}

.cases-table tr .case-urgent {
  background-color: #990003;
  min-width: fit-content;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  color: white;
}

.cases-table .urgent-date {
  color: #ff383c;
}

.cases-table .case-pending {
  background-color: #862f01;
  border: none;
  outline: none;
  min-width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  color: white;
}

.cases-table .case-in-review {
  border: none;
  width: 10rem;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  background-color: #253140;
  color: #0088ff;
}

.cases-table .case-closed {
  background-color: #3a3a3c;
  border: none;
  outline: none;
  min-width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  color: #a1a1a6;
}

section.active {
  display: block;
}
